
.leftr
{
    border: rgb(253,13,110) 1px solid !important;
    border-left: 8px solid  rgb(253,13,110) !important;
    border-radius: 8px;
}

.leftj
{
    border: rgb(253,156,13) 1px solid !important;
    border-left: 8px solid rgb(253,156,13)  !important;
    border-radius: 8px;

}

.leftg
{
    border: rgb(13,253,156) 1px solid !important;
    border-left: 8px solid  rgb(13,253,156) !important;
    border-radius: 8px;

}
#Active
{
    display: none;
}
#savedt
{
    display: none;

}