
.leftr
{
    border-left: 8px solid  #dc3545 !important;
    border-radius: 8px;
}

.leftj
{
    border-left: 8px solid #ffc107  !important;
    border-radius: 8px;

}

.leftg
{
    border-left: 8px solid  #198754 !important;
    border-radius: 8px;

}